/* Reset básico del body */
body {
    margin: 0;
    padding: 0;
}

/* Tu h2 ocupando toda la pantalla */
h2 {
    width: 100vw;
    margin: 0;
    padding: 100px 0 100px 0;
}
.calendario {
    padding-bottom: 50px; 
}