<app-header></app-header>
<app-menu></app-menu>>
<main>
<!-- Inici de la secció principal -->
<app-carrosel></app-carrosel>
    <!-- Inici de la secció principal -->
    <section class="ofertes">
        <h1 class="pb-2 text-center">Ofertes</h1>
        <div class="articles-ofertes">
            <article>
                <h3>Eucerin Anti-Pigment, 50ml</h3>
                <p>Eucerin Anti-Pigment Crema de Nit redueix les taques i aporta un to homogeni a la pell, a més de
                    prevenir-ne l'aparició</p>
                <button type="button" class="btn btn-danger" style="background-color: #FF5733;"
                    onclick="">
                    Afegeix a la cistella
                </button>
            </article>


            <article>
                <h3>Eucerin Hyaluron-Filler + Elasticity noche, 50 ml</h3>
                <p>Eucerin Hyaluron-Filler + Elasticity Nit rejoveneix la pell madura amb una alta concentració
                    d'actius
                    com àcid hialurònic, oli d'argan, i card marià, que aporten a la pell.</p>
                <button type="button" class="btn btn-danger" style="background-color: #FF5733;"
                    onclick="">
                    Afegeix a la cistella
                </button>
            </article>
        </div>

    </section>

    <section class="videos pt-2">
        <h1 class="text-center">Videos dels productes</h1>
        <div class="articles-videos">
            <article>
                <video controls>
                    <source type="video/mp4">
                </video>
                <h3>Eucerin Anti-Pigment, 50 ml</h3>
                <p>Eucerin Anti-Pigment Crema de Nit redueix les taques i aporta un to homogeni a la pell, a més de
                    prevenir-ne l'aparició.</p>
            </article>

            <article>

                    <video controls>
                        <source type="video/mp4">
                    </video>
                
                <h2>Eucerin Hyaluron-Filler + Elasticity noche, 50 ml</h2>
                <p>Eucerin Hyaluron-Filler + Elasticity Nit rejoveneix la pell madura amb una alta
                    concentració
                    d'actius com àcid hialurònic, oli d'argan, i card marià, que aporten a la pell.</p>
            </article>
        </div>
    </section>
</main>
<!-- Enllaç a Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<app-footer></app-footer>