 /* Secciones */
 .seccio1 {
     margin-top: 50px;
 }

 .serveis,
 .informacio {
     display: flex;
     justify-content: space-between;
     /* Dues seccions */
     gap: 50px;
     /* Espai entre els articles */
     
 }

 .serveis article,
 .informacio article {
     flex: 1;
     min-width: 0;
     display: flex;
     flex-direction: column;
 }

 .serveis article,
 .informacio article {
     margin-bottom: 20px;
     padding: 15px;
     background-color: #f1f1f1;
 }

 section video,
 section button {
     display: block;
     margin: 0 auto;
 }



 /* Versió mòbil*/
 @media only screen and (max-width: 800px) {

     .informacio,
     .serveis {
         display: flex;
         flex-direction: column;
         /* Disposa els articles en columna, un sota l'altre */
         justify-content: center;
         gap: 10px;
         /* Espai entre els articles */
     }
 }