<app-header></app-header>
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-dark mt-5">
    <button type="button" class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#nav"
        aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
        <ul class="navbar-nav">
            <li class="nav-item active">

                <a class="nav-link text-light font-weight-bold text-uppercase px-3 " href="/"> <i
                        class="fa-solid fa-house" style="padding-right: 10px;"></i>Inici</a>
            </li>
            <li class="nav-item ">

                <a class="nav-link text-light font-weight-bold text-uppercase px-3" href="/contacte"><i
                        class="fa-solid fa-address-book" style="padding-right: 10px;"></i>Contacte</a>
            </li>
        </ul>
        <!-- Barra de cerca -->
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Cerca" aria-label="Cerca">
                <button class="btn bg-light input-group-text" id="search-button" type="button"
                    onclick="window.location.href='cercle.html'">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>
</nav>
<main>
<!-- Inici de la secció principal -->
    <div #carousel class="carousel">
        <img #imatge1 src="/Llibres.jpg" alt="Imagen 1" />
        <img #imatge2 src="/Llibres.jpg" alt="Imagen 2" />
        <img #imatge3 src="/Llibres.jpg" alt="Imagen 3" />
    </div>
    <div class="botons">
        <button #boto1 class="botoImatge"></button>
        <button #boto2 class="botoImatge"></button>
        <button #boto3 class="botoImatge"></button>
    </div>
    <!-- Inici de la secció principal -->
    <section class="ofertes">
        <h1 class="pb-2 text-center">Ofertes</h1>
        <div class="articles-ofertes">
            <article>
                <h3>Eucerin Anti-Pigment, 50ml</h3>
                <p>Eucerin Anti-Pigment Crema de Nit redueix les taques i aporta un to homogeni a la pell, a més de
                    prevenir-ne l'aparició</p>
                <button type="button" class="btn btn-danger" style="background-color: #FF5733;"
                    onclick="">
                    Afegeix a la cistella
                </button>
            </article>


            <article>
                <h3>Eucerin Hyaluron-Filler + Elasticity noche, 50 ml</h3>
                <p>Eucerin Hyaluron-Filler + Elasticity Nit rejoveneix la pell madura amb una alta concentració
                    d'actius
                    com àcid hialurònic, oli d'argan, i card marià, que aporten a la pell.</p>
                <button type="button" class="btn btn-danger" style="background-color: #FF5733;"
                    onclick="">
                    Afegeix a la cistella
                </button>
            </article>
        </div>

    </section>

    <section class="videos pt-2">
        <h1 class="text-center">Videos dels productes</h1>
        <div class="articles-videos">
            <article>
                <video controls>
                    <source type="video/mp4">
                </video>
                <h3>Eucerin Anti-Pigment, 50 ml</h3>
                <p>Eucerin Anti-Pigment Crema de Nit redueix les taques i aporta un to homogeni a la pell, a més de
                    prevenir-ne l'aparició.</p>
            </article>

            <article>

                    <video controls>
                        <source type="video/mp4">
                    </video>
                
                <h2>Eucerin Hyaluron-Filler + Elasticity noche, 50 ml</h2>
                <p>Eucerin Hyaluron-Filler + Elasticity Nit rejoveneix la pell madura amb una alta
                    concentració
                    d'actius com àcid hialurònic, oli d'argan, i card marià, que aporten a la pell.</p>
            </article>
        </div>
    </section>
</main>
<!-- Enllaç a Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

<app-footer></app-footer>