<header>
  <div class="row text-white align-items-center fixed-top" style="background-color: white;">

    <!-- LOGO -->
    <div class="col-4 col-sm-4 col-md-8 ">
      @if (authService.userInfo$ | async; as user) {
        <!-- Usuario logueado -->
        <a [routerLink]="['/citas']">
          <img src="/logoBlanco.png" class="img-fluid logo" alt="Logo de VitKat" style="max-width: 50px;">
        </a>
      } @else {
        <!-- Usuario no logueado -->
        <a [routerLink]="['/']">
          <img src="/logoBlanco.png" class="img-fluid logo" alt="Logo de VitKat" style="max-width: 50px;">
        </a>
      }
    </div>

    <!-- USUARIO -->
    <div class="col-4 col-sm-4 col-md-2 text-end">
      @if (authService.userInfo$ | async; as user) {
        <!-- Usuario logueado -->
        <a [routerLink]="['/citas']">
          <i class="fa-solid fa-user"></i>
          {{ user.username }}
        </a>
      } @else {
        <!-- Usuario no logueado -->
        <a [routerLink]="['/login']">
          <i class="fa-solid fa-user"></i>
          Iniciar sesión
        </a>
      }
    </div>
  </div>
</header>
