  .mensaje-exito {
    color: green;
    font-weight: bold;
  }

  .mensaje-error {
    color: red;
    font-weight: bold;
  }

  /* Versió mòbil*/
  @media only screen and (max-width: 800px) {
    .form {
      padding-top: 50px;
    }

    mat-form-field {
      margin-bottom: 25px;
    }
  }

  /* Versió tablets*/
  @media only screen and (max-width: 1280px) {
    .form {
      padding-top: 50px;
    }
  }

  .textoPrivacidad {
    font-size: 16px;
    color: rgb(10, 0, 0);
  }