html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button i {
    border-radius: 10px;
  }

  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
  p {
    font-family: 'Roboto', sans-serif;
    /* Usar Roboto per als paràgrafs */
    font-size: 1em;
    /* Mida de la font per als paràgrafs */
    line-height: 1.6;
    /* Alçada de línia per millor llegibilitat */
  }
  

  
  .btn {
    transition: transform 0.2s;
    /* Efecte de transició */
  }
  
  .btn:active {
    transform: scale(1.1);
    /* Aumentem el tamany */
  }
  
  body {
    overflow-x: hidden;
    /*Ocultem el scroll horitzontal*/
  }
  
  /*Contingut desprès del carrusel i abans del footer*/
  main {
    padding: 50px;
    margin-top: 120px;
    /* Afegir marge superior per no sobreposar el header i el menú */
  }
  
 
  
  /* Versió mòbil*/
  @media only screen and (max-width: 800px) {

  }

