  /*MENU*/
  /* Canvia el color al passar el ratolí */
  .nav-link:hover {
      background-color: #ADD8E6;
      color: white;
      border-radius: 5px;
      border: 2px solid #ADD8E6;
  }

  /* Resaltar quan es fa clic en l'enllaç */
  .nav-link:active,
  .nav-item.active .nav-link {
      background-color: #007bff;
      border-radius: 5px;
      border: 2px solid #007bff;
  }

  /* Pàgina actual seleccionada */
  .nav-item.active .nav-link {
      background-color: #0056b3;
      color: white;
      border-radius: 5px;
      border: 2px solid #0056b3;
  }