  /* Versió mòbil*/
  @media only screen and (max-width: 800px) {
      .form {
          padding-top: 50px;
      }
  }

  .mensaje-exito {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }

  /* Versió tablets*/
  @media only screen and (max-width: 1280px) {
      .form {
          padding-top: 50px;
      }
  }